{% block subject %}
	{{ block('title') }}
{% endblock %}

{% block body_text %}
	{% block text %}{% endblock text %}
{% endblock %}

{% block body_html %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
            <style>
                * {
                    font-family: Arial;
                }
            </style>
        </head>
        <body>
            <div style="background-image: url('https://drive.google.com/uc?export=view&id=1ukDCHP0sQK274R6E4eECkACxVqFp93YK'); background-repeat: no-repeat; width: 100%; height: 100%; margin-top: 10px;">
                <div style="border: solid 1px rgba(0, 0, 0, 0.14); max-width: 500px; margin: auto; background-color: #fff; border-radius: 4px;">
                    <div style="background-color: #607D8B; text-align: center; padding: 16px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
                        <img src="https://drive.google.com/uc?export=view&id=12ue2qJyfy5Vh2nDWdyGWvSuqflkiZtHs"
                             style="max-height: 50px; margin-right: 10px;"
                        />
                        <img src="https://drive.google.com/uc?export=view&id=16HNMB2XqY9qZYXOHB1qp7k1CIqn5s2Ag"
                             style="max-height: 50px;"
                        />
                    </div>
                    <div style="padding: 16px;">

                        <div>
                            {% if block('title') is defined %}
                                <h1 style="color: #607D8B; margin-bottom: 16px; text-align: center;">
                                    {% autoescape false %}
                                        {{ block('title') }}
                                    {% endautoescape %}
                                </h1>
                            {% endif %}
                            {% if block('subtitle') is defined %}
                                <h1 style="color: #607D8B; opacity: 0.7; margin-top: 10px; text-align: center;">
                                    {% autoescape false %}
                                        {{ block('title') }}
                                    {% endautoescape %}
                                </h1>
                            {% endif %}
                        </div>

                        <div style="color: rgba(0, 0, 0, 0.6); margin: 50px 0; text-align: justify;">
                            {% autoescape false %}
                                {% block html %}{% endblock html %}
                            {% endautoescape %}
                        </div>

                        {% if actionLink is defined and actionText is defined %}
                            <table align="center" style="margin:0 auto" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td align="center" style="background: #607D8B; color: #fff; font-weight: bold; font-size: 14px; letter-spacing: 1.25px; line-height:22px; border-radius: 4px; border: solid 1px rgba(0, 0, 0, 0.14);"
                                        >
                                            <a style="padding: 8px 16px; color: #fff; text-decoration: none; display:block" href="{{ actionLink }}">
                                                {{ actionText|upper }}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div style="color: #607D8B; text-align: center; padding: 16px; font-size: 0.8em;">
                        <div style="border-top: solid 1px #607D8B; width: 100%; margin: 20px 0; opacity: 0.5;"></div>
                        <div>
                            <img src="https://drive.google.com/uc?export=view&id=1JZYnS72peZrN4ZMoe0XNcAD-2PnzJZaa"
                                 style="max-width: 200px;"
                            >
                        </div>

                        <div style="text-align: center;">
                            <p>
                                Odeven est une Jeune Entreprise Innovante spécialisée dans la conception, le développement et la commercialisation de solutions Smart City.
                                Notre équipe développe des systèmes ayant pour but de rendre la mobilité plus agréable et durable.
                            </p>

                            <div>
                                <a href="https://www.facebook.com/Odeven-109074973892753" style="text-decoration: none; margin: 0 5px;">
                                    <img src="https://drive.google.com/uc?export=view&id=1huDQao6syH5mi_ujpxYLzVTDfK0jdtg0" />
                                </a>
                                <a href="https://odeven.fr/" style="text-decoration: none; margin: 0 5px;">
                                    <img src="https://drive.google.com/uc?export=view&id=1AATHlWMKSJFKUCFx0T7g4q78FohJmuQa" />
                                </a>
                            </div>

                            <p>
                                5 Rue Jean Rochon
                                <br>63000 Clermont-Ferrand
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
{% endblock body_html %}
