{% extends 'mail/base.html.twig' %}

{% block title %}Bienvenue sur Odin{% endblock title %}

{% block text %}
    Vous avez été invité à rejoindre Odin.\r\n
    Pour activer votre compte, veuillez vous rendre à l'adresse suivante : {{ actionLink }}
{% endblock text %}

{% block html %}
    <p style="text-align: center;">
        Bonjour et bienvenue sur Odin, la plateforme intelligente de gestion du trafic routier !
    </p>

    <p style="text-align: center;">
        Vous avez été invité à rejoindre Odin.
        <br>Pour finaliser votre inscription, il vous suffit de cliquer sur le bouton ci-dessous.
    </p>
{% endblock html %}
