{% extends 'mail/base.html.twig' %}

{% block title %}Odin - Mot de passe oublié{% endblock title %}

{% block text %}
    Vous recevez cet email car vous nous avez informé avoir oublié votre mot de passe.\r\n
    Si vous n'êtes pas l'auteur de cette demande, vous pouvez oublier ce message.\r\n
    Sinon, veuillez vous rendre à l'adresse suivante pour saisir votre nouveau mot de passe : {{ actionLink }}
{% endblock text %}

{% block html %}
    <p style="text-align: center;">
        Vous recevez cet email car vous nous avez informé avoir oublié votre mot de passe
    </p>

    <p style="text-align: center;">
        Si vous n'êtes pas l'auteur de cette demande, vous pouvez oublier ce message.
        <br>Sinon, il vous suffit de cliquer sur le bouton ci-dessous.
    </p>
{% endblock html %}
