{% extends 'mail/base.html.twig' %}

{% block title %}Odin - Votre mot de passe a été modifié{% endblock title %}

{% block text %}
    Nous vous informons que votre mot de passe viens d'être modifié.\r\n
    Si vous n'êtes pas l'auteur de cette modification, veuillez contacter votre service informatique rapidement.
{% endblock text %}

{% block html %}
    <p style="text-align: center;">
        Nous vous informons que votre mot de passe viens d'être modifié
    </p>

    <p style="text-align: center;">
        Si vous n'êtes pas l'auteur de cette modification, veuillez contacter votre service informatique rapidement.
    </p>
{% endblock html %}
